/*Button container for svg*/
a.logo-button {
  display: block;
  padding: 12px 0.4vw 12px 0.4vw;
  margin-top: 18px;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.Lemons-logo {
  height: 30px;
}

/*General purpose for all navigation-buttons*/
a.nav-button {
  display: block;
  font-family: Montserrat, serif;
  padding: 15px 1vw;
  margin-top: 19px;
  margin-left: 1.2vw;
  margin-right: 1.2vw;
}

a.nav-button:hover {
  font-weight: 600;
}

a.login-button {
  display: block;
  font-family: Roboto Mono, serif;
  background-color: #42b72a;
  width: 90px;
  height: 40px;
  padding: 6.5px 0 12px 0;
  margin: 20px auto 3px auto;
  border-radius: 7px;
  box-shadow: 0 3px 0 0 rgba(0, 89, 0, 0.8), 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

a.login-button:hover {
  color: inherit;
  background-color: #55cc3e;
  transform: translateY(-3px);
}

a.signup-button {
  text-decoration: underline;
  font-family: Roboto Mono, serif;
  font-size: 14px;
  padding: 0 0.6vw 0.5vw 2px;
}

/* WARNING: End of First Section */

/*"mark" related elements refer to the same section where an image of mark is placed*/
.mark-img{
  display: block;
  max-width: 60%;
  margin: 40px auto 0 auto;
}

.mark-text{
  margin-top: 180px;
  margin: 60px 1.4vw 0 1vw;
}

.mark-h {
  display: block;
  margin-bottom: 10px;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.3;
}

.mark-p {
  display: block;
  margin-top: 0;
  font-size: 25px;
  font-weight: 300;
  line-height: 1.3;
}

.join-program-button {
    display: block;
    font-family: Roboto Mono, serif;
    background-color: #42b72a;
    width: 300px;
    height: 40px;
    padding: 6.5px 0 12px 0;
    margin: 20px auto 3px auto;
    border-radius: 7px;
    box-shadow: 0 3px 0 0 rgba(0, 89, 0, 0.8), 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

a.join-program-button:hover {
  color: inherit;
  background-color: #55cc3e;
  transform: translateY(-3px);
}

/* WARNING: End of Second Section */

/*Gallery headline*/
.gallery-h {
  font-size: 42px;
  font-weight: 500;
  line-height: 1.3;
}

.preview1 {
  display: inline-block;
  background-image: url(../imgs/Gallery-Previews/Combair-Setup.png);
  background-repeat: no-repeat;
  filter: contrast(90%) brightness(120%);
  background-size: 20vw 15vw;
  height: 15vw;
  width: 20vw;
  border-radius: 3px;
  font-family: Poppins, sans-serif;
  font-size: 2vw;
  font-weight: 400;
  line-height: 15vw;
}

.preview1:hover {
  filter: contrast(80%) brightness(130%);
  background-size: 21vw 16vw;
  height: 16vw;
  width: 21vw;
  line-height: 15.5vw;
}

.preview2 {
  display: inline-block;
  background-image: url(../imgs/Gallery-Previews/Streamer-Pigeon-Struggles-to-Open-Cheez-Its.png);
  background-repeat: no-repeat;
  filter: contrast(90%) brightness(120%);
  background-size: 20vw 15vw;
  height: 15vw;
  width: 20vw;
  border-radius: 3px;
  font-family: Poppins, sans-serif;
  font-size: 2vw;
  font-weight: 400;
  line-height: 15vw;
}

.preview2:hover {
  filter: contrast(80%) brightness(130%);
  background-size: 21vw 16vw;
  height: 16vw;
  width: 21vw;
  line-height: 15.5vw;
}

.preview3 {
  display: inline-block;
  background-image: url(../imgs/Gallery-Previews/MonaLisa.png);
  background-repeat: no-repeat;
  filter: contrast(90%) brightness(120%);
  background-size: 20vw 15vw;
  height: 15vw;
  width: 20vw;
  border-radius: 3px;
  font-family: Poppins, sans-serif;
  font-size: 2vw;
  font-weight: 500;
  line-height: 15vw;
}

.preview3:hover {
  filter: contrast(80%) brightness(130%);
  background-size: 21vw 16vw;
  height: 16vw;
  width: 21vw;
  line-height: 15.5vw;
}

/* WARNING: End of Third Section */

.ram-banner-h {
  margin-top: 2.2vw;
  margin-bottom: 1.8vw;
  font-size: 42px;
  font-weight: 500;
  line-height: 1;
  text-shadow: 2px 2px 4px black, 0 0 30px black, 0 0 10px black;
}

.ram-banner-p {
  margin: 0;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 300;
  line-height: 1;
  text-shadow: 2px 2px 4px black, 0 0 30px black, 0 0 10px black;
}

.ram-banner {
  background-image: url(../imgs/ram-banner.png);
  background-size: 100vw 27vw;
  width: 100vw;
  height: 27vw;
  margin: 60px 0 30px 0;
}

/* WARNING: End of Fourth Section */

.footer {
  background-color: #2e2e2e;
  background: linear-gradient(to bottom, rgba(18, 18, 18, 0), rgba(46, 46, 46, 1), rgba(66, 66, 66, 1), rgba(82, 82, 82, 1));
  width: 100vw;
  padding-top: 60px;
}

.social-media-icons {
  width: 50px;
}
